---
const { link, title, sum, desc, tech_and_tools="Technologies & tools", tech } = Astro.props;
---

{(link || title || sum || (desc && desc.length > 0) || (tech && tech.length > 0)) &&
(<div class="single-item">
  {title && 
    (<h3>
    {link ? (
      <a href={link} target="_blank" rel="noopener noreferrer">{title}</a>
    ) : (
      <span>{title}</span>
    )}
  </h3>)
  }
 
  {sum && (<p>{sum}</p>)}
  {desc && 
    (<div class="project-desc project-desc-list w-richtext">
      <ul role="list">
        {desc.map(item => <li>{item}</li>)}
      </ul>
    </div>)
  }
  {tech_and_tools &&
  (<div class="mini-label-white">{tech_and_tools}</div>)
  }
  {tech &&
    (<div class="chips-container">
    {tech.map(techItem => <div class="single-chip">{techItem}</div>)}
    </div>)
  }
</div>)
}
